<form class="row g-3" novalidate>
    <div class="col-md-4">
        <label for="txtAuthor" class="form-label">Szerző</label>
        <input type="text" class="form-control" id="txtAuthor">
    </div>
    <div class="col-md-4">
        <label for="txtTitle" class="form-label">Könyv címe</label>
        <input type="text" class="form-control" id="txtTitle">
    </div>
    <div class="col-md-4">
        <label for="txtISBN" class="form-label">ISBN</label>
        <input type="text" class="form-control" id="txtISBN">
    </div>

    <div class="col-md-4">
        <button class="btn btn-primary" type="submit">Keresés</button>
    </div>
    <div class="col-md-8 d-sm-none d-md-inline-block text-end">
        <label for="cboPageSize" class="form-label">Találatok száma:</label>
        <select class="form-select form-select-sm text-center d-inline-block" id="cboPageSize">
            <option value="20" selected>20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        
    </div>
</form>
<hr>
<div class="pager text-center d-none">
    <span class="me-3 cursor-pointer" id="pager-first">&laquo;</span>
    <span class="me-3 cursor-pointer" id="pager-previous">&lsaquo;</span>
    <span class="me-3 fw-bold" id="pager-current">1</span>
    <span class="me-3 cursor-pointer" id="pager-next">&rsaquo;</span>
    <span class="me-3 cursor-pointer" id="pager-last">&raquo;</span>
</div>
<table class="table table-bordered mt-3" id="table-books">
    <thead>
        <tr class="text-center">
            <th>Szerző</th>
            <th>Könyv címe</th>
            <th>ISBN</th>
            <th>Mennyiség</th>
            <th>Kölcsönözhető</th>
        </tr>
    </thead>    
    <tbody>

    </tbody>
</table>